[2015-03-20 18:29] dgoldensquared opened #3 "service descriptor json file naming"
Please note [service descriptor json file name](https://github.com/vert-x3/vertx-service-factory#service-descriptor) needs to match maven coords for [vertx-maven-service-factory](https://github.com/vert-x3/vertx-maven-service-factory) dynamic deployment to work correctly, see recent [vertx-dev discussion](https://groups.google.com/d/msg/vertx-dev/ecebSprWDRA/O4vtkumTFxcJ)

[2015-03-20 21:51] alexlehm commented on #3
fixed with 2476ce722f224a65351d1f57b0897836231c48e3

[2015-03-20 21:51] #3 closed

[2015-05-29 15:54] purplefox opened #15 "Don't expose NetClientOptions"
I don't think it's right that NetClientOptions is exposed to configure the connection. This gives the user too much power to do stupid things that might break the functionality.

[2015-05-29 15:54] purplefox opened #16 "Do we really need idle timeout?"
None of our other clients to do this.

[2015-05-29 15:54] purplefox opened #17 "Client sharing code"

[2015-06-01 11:09] alexlehm opened #18 "Use Handler<AsyncResult> in SMTPConnectionPool"
Change pool.getConnection to use Handler<AsyncResult> instead of two handlers for result and error

[2015-06-01 11:11] alexlehm opened #19 "TODO in SMTPConnectionPool: this method should be called dataFinished,"
// TODO: this method should be called dataFinished,
  // responseEnded is from http
  // TODO: this method may not be called directly since it
  // doesn't set idle state on the connection

[2015-06-01 11:13] alexlehm opened #20 "TODO in MailClientImpl: when sending mails to multiple recipients it is possible that some addresses work and some don't"
// TODO when sending mails to multiple recipients it is possible that some
  // addresses work and some don't, for this an array or json object can be
  // returned with the list of successful addresses and the list of failed
  // addresses. this is not implemented yet

[2015-06-01 11:14] alexlehm opened #21 "TODO in SMTPSendMail: this is probably bad for large messages"
should send large mails in blocks of maybe 1MB each and implement drain handler

[2015-06-01 11:15] alexlehm opened #22 "TODO in SMTPSendMail: it is probably required to convert \n to \r\n to be completely SMTP compliant"
it is probably required to convert \n to \r\n to be completelySMTP compliant

[2015-06-01 11:16] alexlehm opened #23 "TODO in SMTPStarter: this encapsulates initial dialogue and authentication, might as well put authentication into the initial class"

[2015-06-01 11:18] alexlehm opened #24 "netClientOptions conversion to JSON is not implemented"
this would be obsolete if we remove the netClientOptions setter completely

[2015-06-01 11:20] alexlehm opened #25 "TODO in AuthOperationFactory: Auto-generated catch block"
the exceptions have to be handled properly

[2015-06-01 11:22] alexlehm opened #26 "TODO in MailClientImplTest2: this test needs asserts!"

[2015-06-01 11:24] alexlehm opened #27 "TODO: it may be a good idea to construct mock objects e.g. with Mockito"
consider using mock objects instead of creating getters that are not used in the actual API

[2015-06-01 11:26] alexlehm opened #28 "allow empty address, this can be used as sender (<>)"
this is allowed in smtp as the local mailer-daemon address of the sending server

[2015-06-01 11:28] alexlehm opened #29 "MailEncoderTest should check decoded text"
when asserting the encoded parts of the mime message (e.g. utf-8 text), the unit tests currently use the encoded string, maybe it would be better to decode it again via the Wiser api and check that

[2015-06-01 11:29] alexlehm opened #30 "TODO in UtilsTest: not sure why the java8 base64 classes use CRLF"
have to decide if the format for the message uses \n line endings or \r\n line endings
currently the base64 code creates \r\n and converts that the \n

[2015-06-01 18:34] purplefox commented on #28
Hi Alex, no need to put "TODO" in the title of the issues. If it's an issue it's already implicitly TODO :)

[2015-06-01 21:21] alexlehm commented on #28
I matched the TODO comments with the issues, the title should probably read "TODO in File.java": xxx

[2015-06-01 21:21] alexlehm commented on #28
but i can probably rename them when the issue is done

[2015-06-01 21:25] alexlehm commented on #24
this is fixed with #15, netclientoptions property is removed

[2015-06-01 21:52] alexlehm commented on #15
fixed with commit 7e99a9966d499f579da360b4733b4b06527e5a15

replaced by keystore/keystore password properties, that is enough to get the internal certificate test to work

[2015-06-01 21:52] #15 closed

[2015-06-01 21:54] alexlehm commented on #24
commit 7e99a9966d499f579da360b4733b4b06527e5a15

[2015-06-01 21:54] #24 closed

[2015-06-01 23:53] alexlehm commented on #18
fixed with commit 9edd7fce6642f43d536126fb8c6fd7ae290e480c

[2015-06-01 23:53] #18 closed

[2015-06-02 15:30] alexlehm commented on #25
fixed with commit d76a6a68bc7cad0c173534633c1d2daabcefada9

throw expections instead and return them via the failure handler

[2015-06-02 15:30] #25 closed

[2015-06-02 15:34] alexlehm opened #32 "Determine what MailClosedConnectionTest.java is useful for or get rid of it"

[2015-06-02 16:09] alexlehm commented on #26
fix in commit 2462a37682ecfb169620506ed0918f91b5499648
added asserts and changed the object under test to be MailClientImpl directly
fixed bug in SMTPConnectionPool where the connection was set to idle even though the pool was already closed

[2015-06-02 16:09] #26 closed

[2015-06-02 16:29] alexlehm commented on #23
decided that it is ok as it is, removed the TODO

[2015-06-02 16:29] #23 closed

[2015-06-02 18:30] alexlehm commented on #29
fixed with commit b4b5cd5f4a9c8a90645904c1818a45eee292039e

added checks based on MimeMessage to a few of the tests

[2015-06-02 18:30] #29 closed

[2015-06-02 22:54] alexlehm commented on #21
fixed in commit f40ad33be05cd6b3f90cbaf653896e50d50037fc
also fixed #22
instead of using replaceAll process the message line by line and check for leading .
and \r\n in each line
this also uses flow control for writing to the socket, before it wrote the complete mail string
into the socket in one operation, which may be some mbs large

[2015-06-02 22:54] #21 closed

[2015-06-02 22:55] alexlehm commented on #22
fixed in commit f40ad33be05cd6b3f90cbaf653896e50d50037fc
instead of using replaceAll process the message line by line and check for leading .
and \r\n in each line
this also uses flow control for writing to the socket, before it wrote the complete mail string
into the socket in one operation, which may be some mbs large

[2015-06-02 22:55] #22 closed

[2015-06-03 17:02] alexlehm opened #33 "Replace replaceAll calls if possible"

[2015-06-09 21:16] alexlehm commented on #32
fixed with commit 561e79e09473d006f44bd689c563ccf8bdd26ed9
removed test

[2015-06-09 21:16] #32 closed

[2015-06-09 21:20] alexlehm commented on #30
removed TODO comment, commit is 90c562d3b93e1d4a8d01e512ab945cec2fb58704
have decided that this is relevant for the unit tests only

[2015-06-09 21:20] #30 closed

[2015-06-09 21:37] alexlehm commented on #19
fixed with commit d4a9e870cb25cdd4b73141e94d94134a3e6f468e
rename method to dataEnded, move setting idle = true to setIdleTimer

[2015-06-09 21:37] #19 closed

[2015-06-09 22:03] alexlehm commented on #33
fixed with commit f6af1b7553f6ae0fe37891327794182fc9d49811
changed one call of replaceAll to replace

[2015-06-09 22:03] #33 closed

[2015-06-10 21:06] alexlehm commented on #28
fixed with commit 782437e066ec838c3b3f7f31de936b94c71ef106
empty is address is allowed

[2015-06-10 21:06] #28 closed

[2015-06-10 21:24] alexlehm commented on #27
commit 933ec11a6388e5c947638abedd9dd452035a9541, removed to TODO comment, its ok as it is

[2015-06-10 21:24] #27 closed

[2015-06-11 20:34] alexlehm commented on #20
fixed in commit d0f6a8db9d744394b45734f7383aea12098dabd5

added property allowRcptErrors, skip recipient errors when set, add unit test for it
fixed package-info docs, regenerated files based on that

[2015-06-11 20:34] #20 closed

[2015-06-16 21:31] alexlehm commented on #16
I would like to argue that this is useful and it might be a good idea to support a similar thing in other clients as well (e.g. http keep-alive). When using a service only occasionally, for example sending out a mail at given intervals like every hour or every day (like a cronjob), the connection pool will stay active unless the server times out the connection, which is not good since a firewall m

[2015-06-18 09:37] purplefox commented on #17
@alexlehm any progress on this one?

[2015-06-18 15:10] purplefox commented on #16
I think this just overcomplicates things. If the user doesn't want to keep connections open they can just set keep-alive to false.

[2015-06-18 20:44] alexlehm commented on #16
commmit de15f6903900ccfe40aa61fe014bf41858c74a33
removed idle timeout function

[2015-06-18 22:32] alexlehm commented on #17
implemented pool sharing, it needs a bit better testing, I have commited a first version

[2015-06-19 09:56] purplefox opened #36 "JSON properties should be camelCase"
All the json property keys in the @DataObject classes must be camelCase NOT using hyphens or underscores to be consistent with other data objects elsewhere.

[2015-06-19 14:27] #36 closed

[2015-06-19 19:09] alexlehm commented on #36
(fixed with commit 44ba3eec23bc9ec2f005335ec913b455c7b9cbd2)

[2015-06-20 14:19] alexlehm commented on #17
implemented with commit 752adabc095489cbaa308654e7750f66405581df

[2015-06-20 14:19] #17 closed

[2015-06-21 18:30] purplefox opened #38 "Client pool sharing code is not thread safe"
The new pool sharing code is not thread safe

[2015-06-21 18:42] purplefox commented on #38
We need to either revert this or fix this before tomorrow or we may have to consider dropping the mail client from 3.0

[2015-06-21 20:24] purplefox commented on #38
Reimplemented here https://github.com/vert-x3/vertx-mail-client/pull/40

[2015-06-22 07:26] #38 closed

[2015-07-04 11:33] alexlehm commented on #16
due to a merge mixup from me this didn't end up in the 3.0.0 version, i.e. the code is still included in 3.0.0, but the documentation is removed. I will remove the code again for a new pr

[2015-07-04 12:25] alexlehm commented on #16
fixed with commit 032c00a411cd588f4e4ca54e261e332c679ee19e
sorry about the mixup before

[2015-07-04 12:25] #16 closed

[2015-11-03 15:25] leotu opened #46 "ehloCmd method is not run when Mail Server reply "ESMTP" is not all uppercase characters"
SMTPInitialDialogue#isEsmtpSupported(String message)
use message.contains("ESMTP") to check message, but some mail server return is "Esmtp".
e.g. "220 smtp.qq.com Esmtp QQ Mail Server"

P.S, using javamail is no problem when reply is

"Esmtp" String.

-------------- below is java mail debug log  ------------
DEBUG SMTP: useEhlo true, useAuth false
DEBUG SMTP: trying to connect to host "smtp.exmail

[2015-11-15 13:21] alexlehm commented on #46
this was mostly a hack to avoid sending EHLO to a server that doesn't support it (which is not very common anymore I guess), I will change it to use a case-insensitive check

[2015-11-15 16:37] alexlehm commented on #46
fixed the issue and added a unit test to check it

[2015-11-16 16:23] alexlehm commented on #46
resolved by #47

[2015-11-16 16:23] #46 closed

[2015-12-15 12:39] alexlehm opened #48 "Utils.getMyHostname is not async"
When the dns request is slow, getMyHostname() blocks the event loop
(this issue is from a discussion in IRC, where the time was about 4,5s http://echelog.com/logs/browse/vertx/1450134000)

should be async and the result should be cached

[2015-12-18 00:15] alexlehm commented on #48
Ok, the function is written in two different places with a different implementation, this has to be refactored

[2015-12-19 09:41] alexlehm opened #49 "clean up some comments"
when working on 3.0, I had a few bugs that were difficult to track due to things being called in the wrong sequence, so I put some debug code in that is still commented out in the source after 3.1 was released.
I will remove that since the issues are now resolved (mostly this one: https://bugs.eclipse.org/bugs/show_bug.cgi?id=480001)

[2015-12-20 22:45] alexlehm commented on #48
commited a first version of the fix, this has to be improved a bit, plus it should have a unit test

[2016-01-05 21:01] alexlehm commented on #48
decided not to do a unit test, this would require either mocking the static utility method or rewriting it a bit to make it more test-friendly

[2016-01-09 12:28] #48 closed

[2016-01-10 12:49] #49 closed

[2016-01-11 22:51] alexlehm opened #52 "If server banner does not show esmtp, login is not done"
When the server does not show esmtp support, ehlo is not done, so login is not possible.
I will introduce a property setEsmtp(true), which will override the esmtp guess from the server header

[2016-01-20 20:42] sfitts opened #53 "MailClient.sendMail blocks vert.x event loop"
I happened to be running on a flaky network today (thank you Comcast) and noticed that the host lookup is issuing a blocking call directly on the vertx event loop.  Here is the stack trace from the blocked thread checker:

[code]

Looks like the underlying issue may be related to NetClient, but one way or another it would seem that this shouldn't block.

As a workaround I'm going to run this under

[2016-01-20 21:03] sfitts opened #54 "Would be nice if MailConfig used defaults for "missing" options"
If you create a MailConfig using a JsonObject then any option that is missing gets set to null instead of it's default value.  This differs from the pattern used in most other Vert.x components where any missing value will be assigned the default (see for example VertxOptions or HttpServerOptions).

[2016-01-21 06:29] cescoffier commented on #53
I guess it has been fixed in master. The issue is that IP lookup is blocking.

[2016-01-21 15:21] sfitts commented on #53
@cescoffier thanks.  Do you know if this will be in the 3.2.1 release the @vietj mentioned was targeted for the end of the month or is this 3.3?

[2016-01-22 06:15] cescoffier commented on #53
Hello @sfitts, the 3.2.1 should be released end of January / beginning of February. 3.3.0 should land in Q2 2016.

[2016-01-22 06:31] sfitts commented on #53
@cescoffier thanks for the info.  Do you know which release this fix will be in?

[2016-01-22 06:33] cescoffier commented on #53
@sfitts I hope so.
@alexlehm could you confirm ?

[2016-01-30 14:38] thokari opened #55 "Can I use this to find out if the recipient address exists?"
The MailResult that I am getting does not tell me much in that regard, existing and non-existing addresses seem undistinguishable... I am now doing MX record lookup and then connecting directly, but is there a simpler way?

[2016-02-01 12:07] alexlehm commented on #53
@cescoffier sorry, I missed the question, I believe the hostname resolution is now done with execute blocking in all cases, so the option is not necessary

[2016-02-01 12:19] alexlehm commented on #53
@cescoffier @sfitts does it make sense for this to be configurable or would it be better to use blocking dns resolution all the time?
I cannot think of a usecase where it makes sense to not do that. I assume the dns lookup will be changed in the core vertx at some point, so that all dns lookups will be async and we could just take out the specific code in the module.

[2016-02-01 12:24] alexlehm commented on #54
I figured i should make the json toString result as short as possible by leaving out the keys with default values, if that is done differently in other modules it certainly makes sense to do it the same way.

[2016-02-01 12:30] alexlehm commented on #55
The mail module is a smtp client, not a router, so you will usually not get a result if an address exists only that your smtp server has accepted the RCPT TO command for this user.
Even when you have to mx server accept the address, this is not a sure indication that the address exists, a server might not return an error even for nonexistent addresses for security reasons or the mail might get que

[2016-02-01 12:34] cescoffier commented on #53
My fix does not fix this case, but when you try connecting to a SMTP server where name resolution may be slow. This would later be fixed in vert.x core with the new netty, but for now we need to fix it here.

The option is just there for compatibility purpose, as before it was doing a blocking resolution. But having an option is debatable (@vietj ?).

[2016-02-01 12:38] cescoffier commented on #54
`starttls` and `login` should use the default value is not set in the json string (if someone creates the json string by himself).

In 3.3.0, we should probably remove the JSON serialization to use converters, but this could be a breaking change, that's why I don't use them right now.

[2016-02-01 15:11] sfitts commented on #54
Fair enough.  As a user I was just observing that the behavior difference caught me by surprise (I assumed it worked like all the other cases).

[2016-02-01 15:15] sfitts commented on #53
I'm not a huge fan of the option, since it's not like the user's code has any control over whether or not the call will take too long to run (I only discovered it by accident due to a intermittant network outage).  Seems like the code should just assume it might block and always run it that way.

[2016-02-01 15:18] cescoffier commented on #54
@sfitts - I've proposed a PR fixing it.

[2016-02-01 15:19] cescoffier commented on #53
Ok, I will get rid of the option, but this may change the behavior.

[2016-02-01 15:26] cescoffier commented on #53
Option removed.

[2016-02-01 16:07] sfitts commented on #54
Sorry missed that.  Looks good.

[2016-02-02 00:15] alexlehm commented on #53
Have to take a closer look how this plays together with ssl connections, on first glance it looks ok

[2016-02-02 09:43] cescoffier commented on #53
The fix does not play with SSL. It just create an `InetAddress` (which does not involve SSL at all), retrieve the resolved IP and pass this IP instead of the host name (as it's already resolved). SSL comes into the game during the `connect` method as before.

[2016-02-02 09:44] #55 closed

[2016-02-02 10:21] vietj commented on #53
looks good to me.

[2016-02-02 13:19] #54 closed

[2016-02-02 13:24] #53 closed

[2016-02-05 22:48] alexlehm opened #59 "inline attachment for sending inline images"
this should probably be a bit more general, adding headers to attachments is necessary and creating nested multipart messages might make sense for other usecases as well.

[2016-02-05 22:49] alexlehm opened #60 "tab is a valid character in unencoded mail text"
if a message contains no other chars that have to be encoded then tab, the mime encoder will use quoted-printable, this could be avoided

[2016-02-05 22:51] alexlehm opened #61 "improve ssl/tls code"
the ssl code currently does not do strict host checking, this should be added. also, other things in the ssl impl may be improved

[2016-02-06 14:18] thokari opened #62 ""General SSLEngine problem" error after upgrading to 3.2.1"
Hi i just upgraded everything to 3.2.1, now I am getting this error when calling `sendMail`:
[code]
Are there maybe any new options I have to set?
You can see the code here: https://github.com/thokari/vertx-kickstart

[2016-02-07 11:36] alexlehm commented on #52
after reading the definition in rfc1869, this solution is wrong, the assumption is that ehlo can be done even when ESMTP is not included in the server header and the return code is used to determined if it is supported.

[2016-02-07 11:36] #52 closed

[2016-02-07 11:39] alexlehm opened #63 "Always use ehlo to check if esmtp is supported, add option to disable that for broken servers"
rfc1869 states that ehlo should be used to check if the server supports esmtp and helo if the response code is not ok. if the server is completely broken, rfc states that a 2nd connection with helo only should be done, we will implement an option to disable esmtp instead. This problem will not likely ever happen, since we are not connecting to arbitrary smtp servers on the internet as mx routing i

[2016-02-07 16:21] alexlehm commented on #62
What kind of certificate are you using for the test server?
Then only change that might affect ssl handling in mail is that the hostname is resolved to ip address before the connect call, but that should not affect certificate checking.
I will take a look at the issue

[2016-02-07 16:37] alexlehm commented on #60
fixed with commit b6bd9a35283e6e42ec685a60ad2253720bdc577e

[2016-02-07 21:16] alexlehm commented on #62
MailDev supports STARTTLS which means that mail-client will try that and fail since the certificate is a selfsigned cert.
You can fix that by either turning off STARTTLS or setting ssl to trust all certificates in dev.json
[code]
or
[code]
I am not sure why this should have changed between 3.2.0 and 3.2.1.

[2016-02-11 09:26] thokari commented on #62
Hi, thanks! I was also wondering how I should give the properties, in case I am using Groovy. Actually I think I even tried setting the startTLS option on a Java Properties object, because I was not clear how the property names/types would map. Is there some general hint in the documentation somewhere?
Anyways continue the awesome!

[2016-02-11 09:26] #62 closed

[2016-02-15 19:55] #63 closed

[2016-02-15 20:02] alexlehm commented on #60
fixed by merge of pr

[2016-02-15 20:02] #60 closed

[2016-03-06 21:27] alexlehm commented on #59
implemented as branch issues/#59-inline-images 0435d3ca8a2bb287a8098cc2db0867341d242f19

[2016-03-26 23:26] #59 closed

[2016-03-31 12:38] remi128 commented on #59
cooooool - just saw that you merged it

[2016-04-02 22:24] alexlehm commented on #59
@remi128 please check if it works for you

[2016-04-04 10:40] remi128 commented on #59
no, unfortunately not. A quick view showed me, that the multipart/ related is not defined. I used SNAPSHOT-3.3.0

[2016-04-07 20:06] alexlehm commented on #59
unless I have messed up the merge process, it should create the multipart/related structure when setInlineAttachment is used https://github.com/vert-x3/vertx-mail-client/blob/e42da943604ae252089afac1b20e16543e140857/vertx-mail-client/src/main/java/io/vertx/ext/mail/mailencoder/MailEncoder.java#L118

[2016-04-08 11:06] remi128 commented on #59
yes, you multipart related is in, but unfortunately its not enough. In Mail / Thunderbird on OSX its still displaying it like attachment. I fetched out my implementation to compare the results.
In your solution you are writing the multipart related directly:

[code]
in "my" solution first the multipart/mixed is written, which then integrates the multipart/related

[code]

[2016-04-09 13:40] alexlehm commented on #59
@remi128 Michael, I think you are missing the Content-ID in the image but I am not completely sure

will do some more tests

[2016-04-09 20:02] remi128 commented on #59
@alexlehm Hey Alex,
if you like to look, my unit test is  [here](https://github.com/BraintagsGmbH/NetRelay-Controller/blob/master/src/test/java/de/braintags/netrelay/unit/TMailController.java), it is the test sendHtmlMessageWithInlineImage. The execution of mail sending is under [MailController](https://github.com/BraintagsGmbH/NetRelay-Controller/blob/master/src/main/java/de/braintags/netrelay/co

[2016-04-11 21:35] alexlehm commented on #59
The method createAttachment is not setting the Content-ID header, then I assume the mail client will not find the correct attachment for each image. Could please try this change: https://github.com/BraintagsGmbH/NetRelay-Controller/pull/1, I assume that should fix it.

Setting the Content-ID is a bit cumbersome since it is not a property currently, we could add that one

[2016-04-12 07:59] remi128 commented on #59
yes - that was it - thank you

[2016-04-16 11:01] alexlehm opened #67 "Add Content-ID property to MailAttachment"
Currently setting a Content-ID header for attachments requires creating a MultiMap for the single header, it would be easier to have a setContentId property similar to the other properties.

[2016-04-26 19:32] alexlehm opened #69 "Remove async hostname resolution from mailclient"
vertx-core supports async hostname resolution now, so we can remove it from the mail client impl

[2016-04-26 19:34] alexlehm opened #70 "remove left over idle connection handling"
before 3.0 I started an implementation of idle smtp connections that could be reused for a specified time (e.g. 5 minutes), this option was removed for the 3.0 version, but the status of idle connection is still checked

[2016-04-27 19:15] #61 closed

[2016-05-24 19:09] alexlehm commented on #69
fixed by d7e1aeefee4bf33adcdd5ab6620d673cc4249a80, forgot close the issue

[2016-05-24 19:09] #69 closed

[2016-05-27 23:51] #67 closed

[2016-06-15 22:27] alexlehm opened #72 "tls connect does not do host checking"
When doing starttls, the option to check the cert hostname isn't set, this means that the certificate is validated, but could be from another site.

[2016-06-16 19:45] #72 closed

[2016-06-25 16:15] alexlehm opened #74 "Implement STARTTLS in TestSmtpServer"
Currently, the tests with STARTTLS are done with Wiser, which is a bit difficult since it uses the default cert store to load its certificate. To fix that, I changed one test using an alternate cert to a integration test so that jvm is started for this test specifically.

Instead I want to implement STARTTLS in the TestSmtpServer so that it can be configured with an alternate cert by the NetServer

[2016-08-13 14:56] alexlehm commented on #74
cleared up the commits a bit and squashed everything in one commit, https://github.com/alexlehm/vertx-mail-client/tree/issues/%2374-starttls-testsmtpserver

[2016-08-24 20:48] #74 closed

[2016-09-06 09:33] remi128 opened #76 "sending mail with cc / bcc does not work"
I have a problem sending mails with cc and bcc added as recipient. The mail client is always only sending the mail for the main recipient, but not for the rest. See a reproducer here:

https://github.com/remi128/TestFileUpload/blob/master/src/main/java/de/braintags/vertx/TestMail.java

Start it with vm args:
-Dhost=mailserver -Dport=8025 -Dusername=username@xxx.com -Dpassword=password

[2016-09-11 18:57] remi128 commented on #76
see https://groups.google.com/forum/#!topic/vertx/iUkR1tLuSmw

[2016-09-11 18:57] #76 closed

[2016-09-23 18:57] alexlehm opened #77 "when smtp connection is refused, the pool size count is wrong"
When connecting to a smtp port that is currently not open, the connection fails but the pool size count is not decreased, which will halt the smtp client when the maximum pool size is reached (e.g. after 10 failed connections).
This is easy to reproduce in a unit test by setting max pool size to 1 and trying to connect twice to a server port that is not open.

the issue was reported here https://g

[2016-09-23 20:40] alexlehm commented on #77
https://github.com/vert-x3/vertx-mail-client/pull/78

[2016-10-02 17:25] #77 closed

[2016-10-17 13:28] alexlehm opened #79 "add support for proxy setting in NetClient"

[2016-10-19 21:03] alexlehm opened #80 "Oauth authentication"
When using gmail, it is currently necessary to switch to old auth support since the mail client does not support oauth authentication (e.g. thunderbird supports that)

If that is possible, supporting oauth would be good.

[2016-10-20 06:40] pmlopes commented on #80
What are the requirements for Gmail? Could https://github.com/vert-x3/vertx-auth/issues/88 solve it for you? I think that that's the reason Google has this, server to server authz but I'm not familiar with Gmail internals

[2016-11-04 13:22] alexlehm commented on #80
I have to check how the gmail auth works

[2016-11-25 14:23] pmlopes commented on #80
https://github.com/vert-x3/vertx-auth/pull/106 implements Google OAuth2 server to server authZ maybe it could work for you. I guess that if you create a provider for server to server and ask for a token see example: https://github.com/vert-x3/vertx-auth/blob/7dae48a809f6eea3f29a856a6035bc866ebd3c97/vertx-auth-oauth2/src/test/java/io/vertx/ext/auth/test/oauth2/OAuth2AuthJWTTest.java

Then you could

[2017-01-18 19:00] alexlehm opened #81 "Check which status is to be used when it is not the same on a multiline reply"
When a multiline reply contains more than one different status code it might be better to use the last one.

Example (this is likely a server bug, but I found that on one server I tested):

[code]

That is wrong for two reasons, first it should be only one status code in all lines and second the server shouldn't close the connection directly after the status is sent.

The error would be handled mo

[2017-02-16 06:07] DaC1989 opened #82 "attachment filenames with non US-ASCII characters are garbled"
sorry for my poor english.
when I send attachment with a chinese name, it would be Garbled.
so I use javax.mail.internet.MimeUtility.encodeText("你好").
then it worked.
maybe we shoud add it into vertx-mail-client?
or, there is another way which I don't known.
Look forward to your reply, thanks

[2017-02-16 19:06] alexlehm commented on #82
I have done some testing with non-ascii chars, but may have missed some cases where encoding is required. I will try to write a unit test for that and implement a fix.

[2017-02-16 20:39] alexlehm commented on #82
ok, i can confirm that we are missing the encoding for filenames

[2017-02-17 01:27] DaC1989 commented on #82
thanks

[2017-02-17 20:36] alexlehm commented on #82
@DaC1989 not fixed yet, i will do it tonight

[2017-02-17 21:27] alexlehm commented on #82
fixed with https://github.com/vert-x3/vertx-mail-client/pull/83
added filename encoding and changed the filename to be enclosed in quotes

[2017-02-19 23:10] alexlehm commented on #82
@DaC1989 fix is in 3.4.0-SNAPSHOT if you want to give it a try

[2017-02-19 23:10] #82 closed

[2017-02-20 04:47] DaC1989 commented on #82
ok, thank you very much

[2017-02-23 03:23] DaC1989 opened #84 "Thread has been blocked when SMTPConnection.writeLine, V3.3.3"
when my attachment'size is large, about 5M,
the thread checker would warn:
Thread Thread[vert.x-eventloop-thread-0,5,main] has been blocked for 8610 ms, time limit is 2000
io.vertx.core.VertxException: Thread blocked
	at sun.nio.cs.UTF_8$Encoder.encodeBufferLoop(UTF_8.java:682)
	at sun.nio.cs.UTF_8$Encoder.encodeLoop(UTF_8.java:693)
	at java.nio.charset.CharsetEncoder.encode(CharsetEncoder.java:57

[2017-02-24 12:11] alexlehm commented on #84
the write operation should not block, it will write until the write queue is full and then wait for it to drain. so its probably a bug I will take a look.
The MailConfig is not changeable after the MailClient is created, if you change the config including the password, you have to create a new MailClient.

[2017-02-25 10:34] alexlehm commented on #70
Will probably not finish that for 3.4

[2017-02-25 10:35] alexlehm commented on #84
@DaC1989 it would make sense to remove the 2nd question and either talk about the in google group or create a second issue with a question tag

[2017-02-25 12:12] alexlehm opened #85 "Support for DSN"
ESMTP supports requesting a DSN for successful mail delivery, it might be useful to have that in the MailClient

[2017-02-25 12:13] alexlehm opened #86 "EHLO capabilities may change after successful login"
When the smtp server is actually a proxy (e.g. nginx), the capabilities may change after the login was done, it might be useful to have this as an optional feature (same thing is done after starttls already since that may change the capabilities)

[2017-02-25 12:16] alexlehm opened #87 "Support for 8bitmime"
8bitmime is an ESMTP feature that allows sending of binary text and attachments, currently the mime encoder assumes that only 7bit is supported.

This requires a rewrite of most of the encoder, so it might be more work than its worth in the end

[2017-02-25 13:11] DaC1989 commented on #84
@alexlehm OK.
 I think I could close the MailClient if the password changed

[2017-02-26 00:29] alexlehm commented on #84
@DaC1989 I think I know where the issue comes from, but I am having trouble reproducing it. What system do you use and what kind of mail server (either local or remote, if remote, is it a public service)?

[2017-02-26 10:50] alexlehm commented on #84
@DaC1989 I have added some debug logging to the code to be able to check the issue further. Could you build this branch as local maven project and run your program with debug level logging enabled?
https://github.com/alexlehm/vertx-mail-client/tree/localbranch/thread-blocked-writeline

[2017-02-27 01:48] DaC1989 commented on #84
@alexlehm i use mac OS sierra 10.12.3, and my mail server is remote, but it is my private service,  gadaddy server.
i will build this branch and  run my program with debug level logging enabled

[2017-03-09 15:25] DaC1989 commented on #84
@alexlehm i built that branch and run my program, but i didn't reproducing it. i will read the source code

[2017-03-18 18:45] alexlehm opened #88 "generated kotlin files are present in vertx-mail-service"
for some reason the files are generated in the service project from the source in the client project

[2017-07-25 14:42] ashertarno commented on #80
hey @alexlehm , did you find a way to work with gmail using oauth2?
i understand @pmlopes ' solution, but it's not clear if there is anything we can do with the token in vertx-mail client as the latest expects to receive username and password.

[2017-07-25 20:55] alexlehm commented on #80
I didn't get this to work yet properly. I can create oauth tokens and insert them into the smtp auth protocol by adding a authentication method. For that to work without patching the class https://github.com/vert-x3/vertx-mail-client/blob/master/vertx-mail-client/src/main/java/io/vertx/ext/mail/impl/sasl/AuthOperationFactory.java which is currently private, it would be necessary for the list of au

[2017-07-30 14:38] vietj opened #90 "Test certificates expired"
Not really a code bug per se, but it prevents TLS tests to execute.

[2017-07-30 16:52] alexlehm commented on #90
https://github.com/vert-x3/vertx-mail-client/pull/91

[2017-08-01 10:43] alexlehm commented on #90
fixed with commit b6f143846792e3c5caea4c487872a32fa63f9e3d

[2017-08-01 10:43] #90 closed

[2017-08-01 12:01] vietj commented on #90
good catch :-)

[2017-08-14 11:40] alexlehm opened #92 "Intermittend failure in MailClientImpl2Test#testCloseWhileMailActive"
The CI test on Jenkins fails sometimes in the test MailClientImpl2Test#testCloseWhileMailActive, e.g. in this build https://vertx.ci.cloudbees.com/job/vert.x3-mail-client/2037/console
this is probably a timing issue as the test tries to wait in two intervals to catch the state of the connection pool, maybe this test does not make much sense after all

[2018-03-21 14:34] vietj commented on #88
not anymore I htink

[2018-03-21 14:34] #88 closed

[2018-03-28 23:14] jurajw opened #93 "Sending mail with large attachement consumes lots of memory"
Observed on 3.5.0.

Sending a mail with a single 3_000_000 bytes attachment requires ~ 27_000_000 bytes of heap. Based on my observation following is happening:

  1. An AttachmentPart instance is created for the attachment. In the constructor the buffer is base64 encoded into a ~ 4_000_000 characters long string. On JDK8 this is ~ 8_000_000 bytes in the heap.

  2. A MultiPart instance is created

[2018-03-28 23:26] jurajw commented on #93
I have been prototyping changes such that:
  1. base64 encoding is performed lazily line-by-line (by exposing an Iterator<String>).
  2. No copies are created (iterators are concatenated).

Is there interest in a patch?

[2018-03-31 06:38] pmlopes commented on #93
@jurajw I think it would be interesting to have such encoder not just for mail but for json in Vertx too. Since we support a few extra RFC for the json implementation which cover temporal types and base64 I can imagine that such encoder would reduce the memory usage there too.

Perhaps you could provide a pull request and we could continue the conversation there?

[2018-05-03 11:27] vietj commented on #80
@pmlopes can we open an issue in vertx-auth to make progress on this ?

[2018-05-03 11:31] vietj commented on #93
there has been contributions recently in vertx-web-client for this, perhaps some of its classes should be moved to vertx-core ?

[2018-05-03 11:32] vietj commented on #79
Current net client supports proxies, can we have this implemented ?

[2018-05-03 11:32] vietj commented on #70
can we reuse vertx client connection pool and remove the custom one in vertx-mail-client ?

[2018-05-03 15:37] jurajw commented on #93
@vietj Can you point me to the relevant vertx-web-client changes?

[2018-05-03 20:07] vietj commented on #93
see https://github.com/vert-x3/vertx-web/commits/master/vertx-web-client <https://github.com/vert-x3/vertx-web/commits/master/vertx-web-client>

the 10 last commits

[2018-08-06 08:26] dhacker21 opened #95 "error on vertx sendMail, io.vertx.core.impl.ContextImpl - Unhandled exception java.lang.NullPointerException: null"
hello i cannot catch null error on sending email
my code is like this :

[code]
and try to use this, but still cannot catch the error on failed :

[code]
log error :

[code]
please help

[2018-08-06 09:36] vietj commented on #95
@alexlehm can you have a look ?

[2018-08-07 05:12] dhacker21 commented on #95
already check SMTPConnection.java:203 is handleError("connection has been closed by the server")
but the error i get is :
io.vertx.core.impl.ContextImpl - Unhandled exception
java.lang.NullPointerException: null
    at io.vertx.ext.mail.impl.SMTPConnection.handleError(SMTPConnection.java:171)
    at io.vertx.ext.mail.impl.SMTPConnection.handleError(SMTPConnection.java:167)
    at io.vertx.ext.mail

[2018-08-08 15:24] dhacker21 commented on #95
hi, I finally i can catch the error :

[code]
what error is this?

[2018-08-14 03:50] dhacker21 commented on #95
still cannot provide a reproducer, because the error is random,
and still got this error :
[code]
please help, i cannot catch that error

[2018-10-02 04:06] dhacker21 commented on #95
please update this  :

try{
      for (SMTPConnection conn : allConnections) {
        if (conn != null && !conn.isBroken() && conn.isIdle()) {
          idleConn = conn;
          break;
        }
      }
    } catch (Exception e) {
      log.warn("error get all connections "+e.getMessage());
    }

[2018-11-06 15:20] tsegismont commented on #95
@dhacker21 would like to contribute the fix?

[2018-11-09 16:07] vietj opened #96 "Test failure"
https://travis-ci.org/vert-x3/vertx-mail-client/jobs/452894885

[code]

[2018-11-15 22:10] alexlehm commented on #95
@dhacker21 could you try a patched version of the module? I think I know how this happens, but I don't know how to reproduce it
the SMTPConnection class has an error handler that is set to null when the connection is returned to the pool so that any exception that happens then is not passed to the previous handler. The code doesn't check if the handler is null, it just calls the handleError messag

[2018-11-16 21:42] alexlehm commented on #96
The exception reported when the certificate is incorrect has changed for some reason, so I changed the check to not check for a specific exception
https://github.com/vert-x3/vertx-mail-client/compare/master...alexlehm:issues/%2396_test_failure

[2018-11-16 21:55] alexlehm commented on #96
sorry, had to revise the commit once more there was was an unused import left in

[2018-11-17 13:16] #96 closed

[2018-11-17 14:06] vietj commented on #96
thanks @alexlehm

[2019-02-03 08:58] dhacker21 commented on #95
Hi I just update this, and it fixed

`SMTPConnection idleConn = null;
    try {
      for (SMTPConnection conn : allConnections) {
        if (conn != null && !conn.isBroken() && conn.isIdle()) {
          idleConn = conn;
          break;
        }
      }
    } catch (Exception e) {
      log.warn("error get all connections "+e.getMessage());
    }`

[2019-03-28 18:05] Spotback opened #100 "MailClient Connection refused: no further information: smtp.gmail.com/74.125.135.109:587"
I have an email utility which is currently using vertx mail client 3.6.3.  I have tried to send an email from multiple gmail accounts and get this same issue.  This utility was working fine on march 24th 2019. I have emails i recieved using my utility, and my last commit to my project was march 6th for my email utility. So nothing in my code has changed. I noticed this issue last night march 27 20

[2019-03-28 18:06] Spotback commented on #100
Ive also done this with port 465 with ssl and login required and authMethod set to PLAIN

[2019-04-12 11:21] pmlopes opened #102 "implement DKIM signature"
Many mail services verify the host authenticity using DKIM http://www.dkim.org/

As a first iteration step the public key will not be verified to match the configuration private key.

[2019-04-15 08:16] vietj opened #103 "Support for DomainKeys Identified Mail"
Support for https://fr.wikipedia.org/wiki/DomainKeys_Identified_Mail

[2019-04-15 08:17] #103 closed

[2019-04-19 13:55] #80 closed

[2019-05-01 19:38] sfitts commented on #79
We need this support as well.  Looks like all it would take is to add the ability to provide a net clients doc as part of the MailConfig object (and then use that when creating the NetClient in addition to cherry-picking the SSL settings).

[2019-05-02 10:10] vietj commented on #79
do you mind contributing @sfitts ?

[2019-05-02 13:00] sfitts commented on #79
@vietj let me see what I can do.  If I can get you a PR can you put it in a patch to 3.6?  I'd like to get this into our current version and we can't move to 3.7 until our next release.

[2019-05-02 13:33] sfitts commented on #79
2 questions...

1) The usual pattern followed in these cases would be to have `MailConfig` subclass from `NetClientOptions`.  Is that something you would put in 3.6.x?  In 3.7?  Not at all?  Not sure what the bar is for changes of that kind.

1) If we assume that the MailConfig contains a NetClientOptions (instead of sub-classing) there is the issue of the overlapping options.  There are 4 of thes

[2019-05-03 11:26] vietj commented on #79
@sfitts 3.7 would be fine I think

I think that we can try subclassing, that's how it's done in `WebClientOptions` and a few others.

[2019-05-03 13:43] sfitts commented on #79
Will -- do.  But if it is possible to put in 3.6.4 I would appreciate it.

[2019-05-07 09:42] pmlopes commented on #79
@vietj @sfitts if subclassing is the desired option, then I think we should apply the same pattern to other projects too, out of my head I can think of `Redis` and `OAuth2` which require net client options and where using this as a property. The only annoyance with subclassing is that you need to override the whole class to keep the fluent builder pattern intact with the new type. Which means that

[2019-05-07 10:44] vietj commented on #79
@pmlopes it depends on which project for some it does not make sense. We can change the existing ones if that does not break compatiblitly.

[2019-05-07 14:47] sfitts commented on #79
We also don't use those clients so I'm not sure I'm the best one to make any changes...

I'm also happy to reimplement this without sub-classing if that is the preference (we'd just like to get this done in some form since we have an upcoming customer deployment that requires it and we're stuck without some solution).

[2019-05-07 19:34] pmlopes commented on #79
I see that pgclient also subclasses, I guess we could standardize on subclassing for consistency.

[2019-05-07 19:53] vietj commented on #79
yes subclassing in practice works well, although I remember a case where it wasn''t makeing sense.

WebClientOptions also extends HttpClientOptions

[2019-05-30 08:01] cescoffier opened #106 "Attachment should accept a ReadStream"
In order to avoid reading the full content of the attachment in memory, the client should accept ReadStream for attachments.

[2019-06-03 06:28] gaol commented on #106
I want to give it a try if no one is working on this yet. :)

[2019-06-04 08:17] gaol commented on #106
work in progress at work branch: https://github.com/gaol/vertx-mail-client/tree/ehencement/issue-106

[2019-06-06 15:14] gaol commented on #106
@cescoffier @vietj Can anyone review https://github.com/vert-x3/vertx-mail-client/pull/107? Thanks

[2019-06-06 21:10] vietj commented on #106
thanks for the contribution @gaol

[2019-07-01 07:32] vietj opened #109 "Attachement should be VertxGen object"
That is a necessary refactor / change to allow attachment streaming.

[2019-07-02 02:56] gaol commented on #109
PR at: https://github.com/vert-x3/vertx-mail-client/pull/110

[2019-07-14 07:58] melorbany opened #111 "Changing default "boundary""
Hello,

I want to change the default boundary in the message mime. I tried to set the Content-Type boundary to custom one but the boundary inside the mime has no change.

    final MultiMap headers = new CaseInsensitiveHeaders();
    headers.set("Content-Type", "multipart/related; boundary=\"=--" + boundary + "\"");

I have checked the source code for MailEncoder and found that the prefix '"=--ver

[2019-08-27 04:16] gaol commented on #111
I think we can introduce a boundary prefix in `MailConfig` to accomplish this.

[2019-08-28 08:46] gaol commented on #111
I see that  `Message-ID` also has fixed code: `vertxmail`, so introduce a `userAgent` maybe a better approach so that it can be used to generate both boundary and message-id. please see PR: https://github.com/vert-x3/vertx-mail-client/pull/112

[2019-08-29 11:47] melorbany commented on #111
@gaol  For Message-ID, you can set it on the message header and you can do the same with In-Reply-To and References. But It didn't work with the boundary.

[code]

[2019-08-30 06:52] sebastian-schmitt opened #113 "gmail Problems"
Dear vertx-team,

I'm a big fan of your libraries - thanks for your great work!

Recently, I stumbled upon a (hopefully) small issue:

After upgrading from 3.8.0 to 3.8.1 speaking the smtp protocol with gmail is not working anymore.

I tried different parameter settings and finally got back to my initial (working) one:

[code]

Trying to send a mail using these, I receive a "AUTH XOAUTH2 failed 53

[2019-09-03 13:51] gaol commented on #113
From `3.8.0+`, `XOAUTH2` was included(please see PR: https://github.com/vert-x3/vertx-mail-client/pull/94) and is the preference authenticate method. In this case, you need access token instead of generated app password to login.

You can also call like: `new MailConfig().setAuthMethods("PLAIN")` to bypass the `XOAUTH2` to use `username` and `password` to login.

[2019-09-03 13:53] sebastian-schmitt commented on #113
oh great - thank you very much!

[2019-09-03 13:53] #113 closed

[2019-09-05 01:24] gaol commented on #102
I can give it a try if nobody is working on this yet. :)

[2019-09-05 12:10] pmlopes commented on #102
Hi @gaol please do! :+1:

[2019-09-09 06:33] gaol commented on #102
The RFC document: https://github.com/gaol/vertx-mail-client/wiki/DKIM-Implementation
The feature branch: https://github.com/gaol/vertx-mail-client/tree/dkim-implementation

[2019-09-14 18:24] pmlopes commented on #102
Hi @gaol good job. I just have a few suggestions. What about using `vertx-auth-common` to specify how the keys are loaded and doing all crypto. In a way the dataobjects share the same ideas but having just 1 way to do things feels more natural to me.

[2019-09-15 07:21] gaol commented on #102
@pmlopes Thanks for the suggestions. :) I agree that is better to organize/maintain the codes. I see a `PubSecKeyOptions` dataobjects in `vertx-auth-common`, but the Public-key sign/verify related codes are located at `Crypto` in `vertx-jwt` component, would you mind to use codes in `vertx-jwt`, or should we move that to `vertx-auth-common` as well ? :)

[2019-09-17 06:32] gaol commented on #102
DKIM requires `sha256` and `sha1` to do the hashing, there are only `sha512` implemented in `vertx-auth-common`, I would like to introduce `sha1` and `sha256` to `vertx-auth-common` for that, @pmlopes does it make sense to  you? ;)

[2019-09-17 08:09] pmlopes commented on #102
@gaol Adding the missing hashing algorithms should be straighforward to add on auth-common and makes sense. I think we could also propose to move the `Crypto` class to common but it needs to be behind a `@vertxgen` API otherwise it can't be used from other languages/rx/etc...

[2019-09-25 12:32] gaol commented on #102
This has many conflicts with PR: https://github.com/vert-x3/vertx-mail-client/pull/108, I will wait that PR got approved for now.

[2019-10-02 17:09] jckozy86 opened #115 "SMTP for outlook not working with versions 3.8.0 and 3.8.1"
I am trying to send emails through my outlook account using a Java app but i keep getting the following error:

Future{cause=AUTH XOAUTH2 failed 535 5.7.3 Authentication unsuccessful [BN7PR05CA0003.namprd05.prod.outlook.com]}

This worked perfectly in versions 3.7.1 and prior

My settings are:

config = new MailConfig();
config.setHostname("smtp.office365.com");
config.setPort(587);
config.setStar

[2019-10-02 19:46] pmlopes commented on #115
The issue is that Outlook announces that it understand xoauth but the credentials you have are not in that format.

So on the mail config you should specify which algorithms you allow. So it means you need one of these:

 * "DIGEST-MD5",
 * "CRAM-SHA256",
 * "CRAM-SHA1",
 * "CRAM-MD5",
 * "PLAIN",
 * "LOGIN"

[2019-10-02 19:59] jckozy86 commented on #115
Got it to work by adding login is required, and authMethod=LOGIN

            config = new MailConfig();
            config.setHostname(cfg.getEmailConfig().getHostname());
            config.setPort(cfg.getEmailConfig().getPort());
            config.setStarttls(StartTLSOptions.REQUIRED);
            config.setLogin(LoginOption.REQUIRED);
            config.setAuthMethods("LOGIN");
            co

[2019-10-02 20:57] #115 closed

[2019-10-15 08:39] gaol commented on #111
@melorbany Would you please try latest master (4.0.0-SNAPSHOT) ? You can set user agent by:
`MailConfig.setUserAgent("my-mail-user-agent")` to generate a customized boundary.

[2019-10-15 09:13] counter567 opened #116 "From address replaced by bounce address"
Hi, I have the problem with the client, that it replaces the from address with the bounce address which is in my opinion wrong.

[2019-10-15 09:56] vietj commented on #116
can you provide a reproducer ?

[2019-10-15 10:25] counter567 commented on #116
I found it in the code:
https://github.com/vert-x3/vertx-mail-client/blob/master/src/main/java/io/vertx/ext/mail/impl/SMTPSendMail.java
[code]

[2019-10-16 05:45] gaol commented on #116
@counter567 From https://tools.ietf.org/html/rfc5321#section-3.3 and https://en.wikipedia.org/wiki/Bounce_address, it looks correct to me that when `bounceAddr` is defined, it will be used in the `MAIL FROM` command.

What problems did you get exactly? :) Any errors or misbehavior ?

[2019-10-16 11:54] melorbany commented on #111
Thanks @gaol

[2019-10-16 11:55] #111 closed

[2019-10-16 17:57] vietj commented on #111
@gaol is this documented ?

[2019-10-16 18:05] counter567 commented on #116
Ok well then you are right. I had the feeling the bounce address was for when you receive an email not delivered notification as it is seperate from the from field in the vertx-mail-client. But then I have to find an other way. Anyway thank you for your time :)

[2019-10-16 18:05] #116 closed

[2019-10-17 01:46] gaol commented on #111
@vietj If you mean [dataobjects.adoc](https://github.com/vert-x3/vertx-mail-client/blob/master/src/main/asciidoc/dataobjects.adoc#user-content-useragent), yes, it is added there(automatically). :)

If you mean wiki page or website docs, not yet. :)

[2019-10-17 04:08] gaol commented on #111
@vietj Sorry for that missing, updated the docs via PR: https://github.com/vert-x3/vertx-mail-client/pull/117

[2019-10-17 08:30] vietj commented on #111
thanks @gaol merged

[2019-10-18 06:52] gaol commented on #102
PR: #108 has been merged, I resumed working on the feature branch: https://github.com/gaol/vertx-mail-client/tree/dkim-implementation rebased on latest master.

[2019-10-18 11:29] dodalovic opened #118 "GMail sending with 2FA and app password doesn't work"
I have enabled 2FA and I generated app password for my account.
When I supply configuration in [mail-sender.zip sample app](https://github.com/vert-x3/vertx-mail-client/files/3743652/mail-sender.zip) , I'm getting an error:

[code]

[2019-10-18 11:44] dodalovic commented on #118
Am I understanding well that if I use token generated via app passwords screen

![image](https://user-images.githubusercontent.com/6358061/67091566-43c30000-f1ad-11e9-9f34-1e141340ffee.png)

and using that as password in config doesn't work anymore?

[2019-10-18 12:11] dodalovic commented on #118
@pmlopes what's interesting was that when using the solution described [here](https://github.com/quarkusio/quarkus/issues/4510#issuecomment-541591506) I was able to send mail using password generated in the Google Application passwords screen

[2019-10-18 12:43] pmlopes commented on #118
Ok, so you can try a different thing. If the application password works, perhaps you should block `XOAUTH` from the SASL list. In that case `XOAUTH` won't be used and the username/password approach will be used instead.

Look for the auth algorithms options on the mail client options. By default if none is set the following list is used:

[code]

So if you would remove the first one, by saying:

[

[2019-10-28 14:14] gaol opened #119 "Sending html emails with attachment is broken"
### Version
* vert.x core: 4.0.0-SNAPSHOT
* vert.x mail client:  4.0.0-SANPSHOT

### Context

I noticed that sending html emails with both `text` and `html` specified together with additional attachments is broken. I noticed this problem when I was working on some tests for the issue: #102

There is no exception occurred, just the message is not sent correctly. The example received email is like:

[2019-10-28 14:15] gaol commented on #119
Looks like it is caused by [this commit](https://github.com/vert-x3/vertx-mail-client/commit/684998b73e821fa51636fe415c550e834c417228#diff-4349933f7705d6bd4e8d0134a2c1166fR263).

I would like to work on this issue and provide a fix soon before the DKIM one.

[2019-10-29 19:53] #119 closed

[2019-10-29 19:54] #109 closed

[2019-10-29 19:54] #106 closed

[2019-11-23 01:41] gaol opened #124 "Try next authentication mechanism if current one failed"
In SMTP AUTH Extension specification: https://tools.ietf.org/html/rfc4954#page-6:

We can try to switch to next authentication mechanism in the preference allowed lists if current one failed. The first succeeded auth method can act as the preferred one in current `MailConfig`. If none of those auth methods succeed, it fails the authentication.

Please refer to: https://groups.google.com/forum/#!to

[2019-11-26 05:20] gaol opened #125 "Make the distinction between the resource context and the caller context"
Make sure `MailClient.sendMail()` follows Vert.x 4 context model

References:
* https://github.com/vert-x3/wiki/wiki/RFC:-Vert.x-4-context-model
* https://groups.google.com/forum/#!topic/vertx-dev/CA8RzEv28oo

[2019-11-26 06:46] gaol commented on #124
RFC doc: https://github.com/gaol/vertx-mail-client/wiki/Authentication-mechanism-chain
Work branch: https://github.com/gaol/vertx-mail-client/tree/authentications-chain

[2019-12-03 06:14] gaol opened #127 "Send email to postmaster failed"
According to https://tools.ietf.org/html/rfc5321#section-2.3.5:

 qualification (see Section 4.1.1.3) and MUST be accepted if so used.

And https://tools.ietf.org/html/rfc5321#section-4.1.1.3:

we should support sending email to `postmaster` without domain qualification, however, it fails with the following exception:

       java.lang.IllegalArgumentException: invalid email address
    	at io.ver

[2019-12-05 09:09] #102 closed

[2019-12-06 06:41] #124 closed

[2019-12-09 06:18] gaol commented on #81
Yes, I agree that it is a server bug as well according to [section 4.2.1 of RFC 5321](https://tools.ietf.org/html/rfc5321#page-50):

@alexlehm There is [code checking the consistences of the result codes](https://github.com/vert-x3/vertx-mail-client/blob/4.0.0-milestone4/src/main/java/io/vertx/ext/mail/impl/Capabilities.java#L120), so I think we can close this issue? :)

[2019-12-12 05:25] gaol commented on #70
@vietj Do you mean the [io.vertx.core.http.impl.pool.Pool](https://github.com/eclipse-vertx/vert.x/blob/master/src/main/java/io/vertx/core/http/impl/pool/Pool.java) ?

[2019-12-12 06:36] gaol commented on #100
@Spotback Can you try `4.0.0-milestone4` which introduce the #126. It will try to switch to another authenticate mechanism if current one failed.

[2019-12-12 06:39] gaol opened #128 "Reuse vertx client connection pool"
There is an existing client connection pool implementation in vertx core, we should reuse it for easy maintenance.

~See:  [io.vertx.core.http.impl.pool.Pool](https://github.com/eclipse-vertx/vert.x/blob/master/src/main/java/io/vertx/core/http/impl/pool/Pool.java)~

See:  [io.vertx.core.net.impl.clientconnection.Pool](https://github.com/eclipse-vertx/vert.x/blob/master/src/main/java/io/vertx/core/

[2019-12-12 06:39] gaol commented on #70
I think it should be, created https://github.com/vert-x3/vertx-mail-client/issues/128 to track the changes.

[2019-12-12 15:25] vietj commented on #70
I think it would make sense to reuse the existing common pool from vertx-core indeed

[2019-12-12 15:25] vietj commented on #128
good idea, it is already used in vertx-redis-client

[2019-12-16 00:56] gaol opened #129 "Fix test failures caused by JSON RFC"
There is a [JSON RFC in vertx-core](https://github.com/vert-x3/wiki/wiki/RFC:JSON-improvements) which [brings a breaking changes](https://github.com/eclipse-vertx/vert.x/pull/3123) on binary data in JSON to follow the [I-JSON spec](https://tools.ietf.org/html/rfc7493).

The changes caused some test failures in vertx-mail-client, all of which are about padding after Base64 encoding.

[2019-12-19 12:15] #129 closed

[2020-01-02 02:06] gaol commented on #128
Working on the branch: https://github.com/gaol/vertx-mail-client/tree/issues/128-reuse-vertx-client-conn-pool

Because it has tight relationship with the context issue(#125), I will try to fix both in one PR once it is ready.

[2020-01-07 00:09] #127 closed

[2020-01-09 08:25] #79 closed

[2020-01-09 10:45] gaol opened #133 "Add test cases to proxy setting"
With #122 merged, it is possible to configure proxy for the MailClient, we need test cases to cover it.

[2020-01-15 01:16] #133 closed

[2020-01-30 22:24] jponge opened #135 "Regression in 4.0.0-SNAPSHOT"
The tests in https://github.com/jponge/vertx-in-action/blob/master/part2-steps-challenge/congrats-service/src/test/java/tenksteps/congrats/CongratsTest.java pass on Vert.x 3.8.5, but fail with a "server connection closed" on 4.0.0-SNAPSHOT.

The SMTP server is mailhog (from the mailhog/mailhog Docker image) with no encryption, see https://github.com/jponge/vertx-in-action/blob/master/part2-steps-c

[2020-01-31 11:21] jponge commented on #135
Closing this issue, it was due to the vertx-rx module snapshots being outdated /cc @vietj

[2020-01-31 11:21] #135 closed

[2020-02-04 20:26] AxelG1 opened #137 "Kotlin: sendMail hangs when used in runBlocking"
Encountered in 3.8.3 (I know it's not the latest, but maybe it's worth knowing)

I used `io.vertx.ext.mail.MailClient.sendMail` inside `runBlocking` because then, I though it would be neat to have the method's result before ending.

Interestingly, it worked as expected locally in my development environment (Intellij), but hanged when deployed as a fat jar to an instance of the Docker image `vertx/

[2020-02-05 07:25] gaol commented on #137
`io.vertx.ext.mail.MailClient.sendMail` is designed to be a non-blocking API, running it inside a `runBlocking` call doesn't make sense(I maybe wrong because I don't know much about Kotlin). I am actually curious how you deal with the `Handler<AsyncResult<MailResult>>` within `runBlocking` ? :)

`io.vertx.ext.web.client.WebClient.post` returns an instance of `HttpRequest<Buffer>`, only call on `se

[2020-02-06 04:53] gaol opened #138 "Send mail headers in one call"
Currently mail headers are sent one-by-one with callbacks to next, since mail headers are normally small, it makes sense to write mail headers in one call.

[2020-02-06 05:21] gaol opened #139 "Rename MessageCanonic to CanonicalizationAlgorithm"
`CanonicalizationAlgorithm` is a more suitable name to reflect how it does according to https://tools.ietf.org/html/rfc6376#section-3.4

[2020-02-13 08:33] #138 closed

[2020-02-18 09:06] #139 closed

[2020-02-25 08:22] gaol opened #143 "Support Pipelining"
### Context

[SMTP Pipelining](https://tools.ietf.org/html/rfc2920) is a SMTP extension to save round trips when sending mails.

Most of the SMTP servers support Pipelining now, it would be good if we support this in vertx-mail-client.

[2020-02-25 12:58] vietj commented on #143
it would be a great feature indeed.

[2020-02-28 05:33] gaol commented on #143
RFC doc: https://github.com/gaol/vertx-mail-client/wiki/Support-Pipelining
Feature branch: https://github.com/gaol/vertx-mail-client/tree/support_pipelining

[2020-04-15 09:55] #143 closed

[2020-04-19 11:28] abampalexnder commented on #118
I have got solution for google after 3 weeks brain storming and spent all day and night time to resolve the issue

any one need solution can contact on wire @abampalxender
19 Apr 2020

[2020-04-19 19:11] alexlehm commented on #81
@gaol i agree, we can close this

[2020-04-19 19:11] #81 closed

[2020-04-19 19:23] alexlehm opened #145 "Using 2fa app passwords in Gmail is confusing because it chooses OAUTH instead by default"
#### Describe the feature

Since Paulo implemented the XOAUTH feature in the mail client, using gmail and outlook requires twiddling with the supported auth methods list if XOAUTH is not used but the app-specific passwords (PLAIN or LOGIN), which is kind of confusing there were some issues mentioning that.
I wonder if it would be better to remove XOAUTH by default from the list of methods and only

[2020-04-19 19:46] alexlehm commented on #145
actually issue #124 may fix that, however that would mean that the client would always try on failing oauth attempt first

[2020-04-21 09:45] pmlopes commented on #145
Yes, that and allowing the user to set the order of the algorithms (to reduce the failure tests) should fix it.

[2020-05-15 08:46] gaol commented on #128
Resume the work on branch: https://github.com/gaol/vertx-mail-client/pull/new/issues/128-new-conn-pool

[2020-05-22 03:17] gaol opened #147 "TLS tests failed because of server certificate expired"
### Questions

The following tests failed from `Thu May 21 17:55:09 CST 2020`:

[code]

The root cause is: `java.security.cert.CertificateExpiredException: NotAfter: Thu May 21 17:55:09 CST 2020`

### Version

I found this in `master` branch, I do think it has the same issue on other branches as well.

[2020-05-22 06:39] #147 closed

[2020-07-18 16:16] sfitts opened #150 "Calling "close" on MailClient which was only ever used for failed connection attempts does not call close on underlying NetClientImpl"
### Version

Vert.x 3.9.0

### Context

We discovered this when one of the servers in our production cluster ran out of memory.  The heap dump showed a large number (around 10,000) of `NetClientImpls` being held in memory by only their associated closeHook.  We eventually tracked this back to code which was creating a non-shared `MailClient` instance with invalid credentials for the target email a

[2020-07-27 03:12] gaol opened #151 "Update Log4j to Log4j2 in test"
### Version

master branch

### Context

Log4j 1 has been removed from Vertx core, but it is still used in test code of vertx-mail-client, which makes it not work anymore.

[2020-07-27 17:42] #151 closed

[2020-07-30 06:04] #150 closed

[2020-09-26 11:07] vietj commented on #128
moving this to 4.1.0 as we want to do some changes to connection pool after 4.0

[2020-10-05 12:35] vietj commented on #125
Is there a PR for this issue ?

[2020-10-09 02:24] gaol commented on #125
Sorry that I was just back from National Holiday, working on it.

[2020-10-09 15:18] gaol commented on #95
I propose to close this issue as I cannot see NPE during long time(several hours) tests running in my local env on master branch.

[2020-10-10 08:53] gaol commented on #95
Close it, if anyone does not agree, please feel free to reopen it. :)

[2020-10-10 08:53] #95 closed

[2020-10-12 04:44] #100 closed

[2020-10-12 04:45] #84 closed

[2020-10-18 17:29] yazalulloa opened #158 "Thread blocked and login problems"
I'm using version 4.0.0.Beta3

I'm having problems connecting to an SMTP server with Vertx Mail Client

I think it have something to do with the configuracion because with javax.mail it works perfectly.

`final var mailConfig = new MailConfig()
                .setHostname("local ip")
                .setPort(25)
                .setStarttls(StartTLSOptions.OPTIONAL)
                .setKeepAlive(

[2020-10-19 02:04] gaol commented on #158
From the exception you provided, I guess your mail server does not support `STARTTLS` and `PLAIN`, would you please remove the `setAuthMethods("PLAIN")` in your code to let the vertx-mail-client negotiate with the mail server to use the authentication method supported by both sides?

[2020-10-19 02:16] gaol commented on #158
On the `STARTTLS` capability, please also check if you configure the SSL options correctly by `MailConfig.setKeyStoreOptions()` or related ssl set up.

[2020-10-19 07:26] #125 closed

[2020-10-19 18:51] yazalulloa commented on #158
"mail_config": {
    "log_activity": true,
    "tcp_keep_alive": true,
    "ssl": false,
    "use_alpn": false,
    "trust_all": true,
    "metrics_name": "TEST_MAIL_CLIENT",
    "hostname": "{local ip}",
    "port": 25,
    "starttls": "DISABLED",
    "login": "REQUIRED",
    "auth_methods": null,
    "username": "{username}",
    "password": "{password}",
    "keep_alive": true
  }

I tried with

[2020-10-19 18:52] yazalulloa commented on #158
The server to which I'm connecting to has no SSL configuration

[2020-10-20 03:38] gaol commented on #158
@yazalulloa would you please also check the logs starting with: `EHLO result: ` ? there should be something like:
[code]
where we can know what the mail server supports. I am asking because I am wondering if your mail server enable authentication or not. The only possibility to see the logs `login is required, but no allowed AUTH methods available. You may need to do STARTTLS` is that there is [no

[2020-10-20 06:43] yazalulloa commented on #158
I tested with this config:

"config": {
    "log_activity": true,
    "tcp_keep_alive": true,
    "ssl": false,
    "use_alpn": false,
    "trust_all": true,
    "metrics_name": "TEST_MAIL_CLIENT",
    "hostname": "{smtp_server_ip}",
    "port": 25,
    "starttls": "OPTIONAL",
    "login": "REQUIRED",
    "auth_methods": null,
    "username": "{username}",
    "password": "{password}",
    "keep_a

[2020-10-20 08:03] gaol commented on #158
OK, so your mail server requires `NTLM` for the authentication,  vertx-mail-client does not support it currently, it supports the following authentication methods now:

[code]

[2020-10-20 09:25] gaol opened #159 "Support NTLM authentication"
#### Support NTLM authentication

Some mail server like Microsoft Exchange declares `NTLM` for the authentication, it should be good to support it in this mail client.

#### Use cases

Issues like: #158

[2020-10-20 09:26] gaol commented on #158
@yazalulloa I created https://github.com/vert-x3/vertx-mail-client/issues/159 to track the enhancement to support NTLM.

[2020-10-20 15:22] yazalulloa commented on #158
Ok, thanks for your help

[2020-11-25 22:13] javadevmtl commented on #145
Question does the vertx-mail client now natively support XOAUTH or we need to do extra OAUTH first and then pass the tokens to the email client?

[2020-11-26 04:09] gaol commented on #145
@javadevmtl you need to pass the tokens to the email client.

[2021-01-25 07:12] gaol commented on #128
@vietj started working in https://github.com/gaol/vertx-mail-client/tree/new_connpool_from_4.0 based on https://github.com/eclipse-vertx/vert.x/pull/3731

[2021-01-25 08:21] vietj commented on #128
@gaol thanks, added to the https://github.com/eclipse-vertx/vert.x/pull/3731 description

[2021-02-22 19:53] cescoffier opened #161 "Format change between Vert.x 3 and 4"
During the migration between 3 and 4, we found out that the email format changed.

In 3.x, all emails were sent as multipart, regardless if you have attachments.

In 4.x, only emails with attachments are sent as multipart. Without, the emails are sent as simple mail.

While this change make sense, it changes the expectations.

Ideally this new behavior could be toggled using a configuration attrib

[2021-02-23 08:22] vietj commented on #161
@gaol can you have a look ?

[2021-02-25 14:05] #161 closed

[2021-03-11 11:05] leolux opened #163 "Support for PDF attachments"
Regarding the documentation the Email client supports base64 attachments. Does it also support PDF files to be attached?

[2021-03-11 11:16] gaol commented on #163
@leolux  yes I think it supports any type of attachments, you can specify the content-type of the attachment if needed.

[2021-04-29 14:22] #128 closed

[2021-06-03 10:10] #159 closed

[2021-07-17 03:59] gaol commented on #158
@yazalulloa vertx-mail-client supports NTLM from `4.1.1`, I am closing this issue.

[2021-07-17 03:59] #158 closed

[2021-07-17 04:02] gaol commented on #70
vertx-mail-client is using new connection pool in vertx-core from 4.1.0, I am closing this one.

[2021-07-17 04:02] #70 closed

[2021-10-20 10:02] famod opened #168 "Dedicated exception for "Recipient address not accepted" (or some other "stable" way to detect this)"
#### Describe the feature

In case of an invalid recipient address, `vertx-mail-client` currently just throws something like:
- `NoStackTraceThrowable: recipient address not accepted: 450 4.1.2 <foo@invalid.invalid>: Recipient address rejected: Domain not found`
- `NoStackTraceThrowable: recipient address not accepted: 556 5.1.10 <foo@example.com>: Recipient address rejected: Domain example.com do

[2021-10-27 11:32] yazalulloa opened #170 "Is not possible to redeploy a shared MailClient Verticle"
I'm trying to redeploy a Verticle with Mail Client, trying to change the configuration of the client without restarting the application.

I'm getting this error:

java.lang.IllegalStateException: Client is closed
at io.vertx.core.net.impl.NetClientImpl.checkClosed(NetClientImpl.java:176)
at io.vertx.core.net.impl.NetClientImpl.connectInternal(NetClientImpl.java:220)
at io.vertx.core.net.impl.NetCl

[2021-10-31 22:13] yazalulloa commented on #170
I have no idea how to test a branch, If I download the code I get a bunch of dependency errors

[2021-11-01 19:48] ravindrahv opened #171 "Vertx MailClient 'createShared' is broken as of 3.x (3.9?)."
### Questions

Hello,

It has been observed that the 'createShared' implementation of Vertx is broken - in that the client tends to mix-up (interleave) the SMTP commands - MAIL FROM / RCPT TO / DATA sections (with regard to the RFC) under shared socket scenarios.

### Version

Which version(s) did you encounter this bug ?

3.x (Exact version is not known. Likely its 3.9. However, believe this shou

[2021-11-01 19:51] ravindrahv commented on #171
Created issue under vertx-mail-client - https://github.com/vert-x3/vertx-mail-client/issues/171

[2021-11-03 06:27] gaol commented on #171
Once one  SMTP connection is retrieved from the connection pool, it is supposed explicitly to be used for sending one email message. The connection will be either closed or return back to pool for next reuse only after current email transaction completes, even it may switch to another thread for some reason.

I think the problem maybe connection pool implementation in `3.9`, somehow, the connectio

[2021-11-03 09:12] famod commented on #168
@gaol Sorry for the late feedback!

Ideally, a client should not need to interpret specific numbers, but should instead receive something like `RecipientAddressNotAcceptedException`.
If that's what you meant then I'm fine! :smile

I'll try to have a look at the PR.

[2021-11-03 10:46] gaol commented on #168
@famod np :)

If that's what you meant then I'm fine! :smile

Actually no, SMTP specifies many reply codes on failures, and some SMTP servers may extend it, it is not feasible to distinguish them all and throw different exceptions accordingly in this client IMO.

What I want to do is a way to know the failure code(should be stable approach), and with enhanced code support(not yet), we can know wha

[2021-11-03 10:49] gaol opened #172 "Support enhanced status code"
#### Describe the feature

Support enhanced status code

#### Use cases

Some issues like #168

#### Contribution

RFC: https://datatracker.ietf.org/doc/html/rfc3463

With this support, client can know which category the failure falls to, it is helpful for the application to handle the failures accordingly.

[2021-11-04 08:11] gaol opened #173 "MailClient.close() should return a Future"
#### Describe the feature

There is a `void close();` method defined in `io.vertx.ext.mail.MailClient` used to close the MailClient, if there are no references to the shared client, the underline connection pool will be closed as well, and all connections in the connection pool will be closed after sending `QUIT` to SMTP server according to [the spec,](https://datatracker.ietf.org/doc/html/rfc5321

[2021-11-04 10:08] vietj commented on #170
you should use the sonatype oss snapshot repository @yazalulloa

[2021-11-04 10:08] vietj commented on #170
[code]

[2021-11-16 12:01] grundtein opened #174 "about mail address format as of 3.x"
Hello,

I encountered a problem with the mailer when using 2-byte characters in the name of the email address.

### Version

3.x (Exact version is not known. i use it by quarkus mailer extension.)

### Context

example.
            "email": "to@mail.domain.com",
            "name": "亜亜亜亜亜亜亜亜亜亜亜亜"

I have prepared an email address in the form of String "亜亜亜亜亜亜亜亜亜亜亜亜 <to@mail.domain.com>" as input.

[2021-11-21 08:22] gaol commented on #174
vertx-mail-client supports [3 ways of specifying email addresses](https://vertx.io/docs/vertx-mail-client/java/#_mailmessage_properties):

[code]

maybe you can try with input as: `亜亜亜亜亜亜亜亜亜亜亜亜 <to@mail.domain.com>` ?

[2021-11-21 09:10] grundtein commented on #174
- username@example.com
- username@example.com (Firstname Lastname)
- Firstname Lastname <username@example.com>

I think the vertx-mail-client would format the input of all three methods above into the following format in io.vertx.ext.mail.mailencoder#encodeEmailList.
username@example.com (Firstname Lastname)

[2021-11-29 12:24] computerlove opened #175 "quitCloseConnection does not close connection"
### Version

Vert.x mail-client 4.2.1, Quarkus 2.5.0

### Context

When using connection pooling with smtp.office365.com an error is logged every time a connection has reached keep alive-timeout.
(if timeout is set to 60 seconds, the error is printed ~60s after last email is sent)

[code]
With debug logging:
[code]

Stepping though [SMTPConnection.quitCloseConnection](https://github.com/vert-x3/ve

[2021-11-29 14:42] gaol commented on #175
It looks to me that the smtp server does not reply before closing the connection, which it should do according to https://datatracker.ietf.org/doc/html/rfc5321#section-4.1.1.10

[2021-12-07 04:07] #168 closed

[2021-12-08 09:07] gaol commented on #175
I can reproduce the error logging, and it seems the smtp server does reply on the `QUIT` command with `221 2.0.0 Service closing transmission channel`, so it is fine.

For some reason, the `exceptionHandler` of the underline NetSocket [gets called](https://github.com/vert-x3/vertx-mail-client/blob/4.2.1/src/main/java/io/vertx/ext/mail/impl/SMTPConnection.java#L121) after the client gets the respon

[2021-12-10 05:53] gaol commented on #175
I see `[RST, ACK]` sequence in Wireshark, which indicates that the smtp server does not close the connection gracefully. I don't see this error logging with local Apache James server setup, it closes the connection gracefully with `[FIN, ACK]` flags.

I don't see much we can do in mail client side except ignoring the exception if `QUIT` has been sent to smtp server.

[2021-12-10 06:29] gaol opened #178 "SMTPConnection clean up"
#### Code clean up

* The following handlers are used in SMTPConnection to handle success response and error, they should be changed to ` Handler<AsyncResult<String>> handler` instead. The [implementation in vertx-mqtt-client](https://github.com/vert-x3/vertx-mqtt/blob/4.2.1/src/main/java/io/vertx/mqtt/impl/MqttClientImpl.java#L142) can be referenced.

[code]

* The `Handler<String> initialReplyHa

[2021-12-12 21:16] KlausSchaefersAtWork commented on #118
So, what was the solution for this issue?

[2021-12-12 21:29] KlausSchaefersAtWork commented on #118
This solved the issue for me:

[code]

[2021-12-13 08:05] gaol commented on #118
Hi @KlausSchaefersAtWork, with https://github.com/vert-x3/vertx-mail-client/issues/124 fixed in `4.0.0`+, if  `XOAUTH2` failed, it turns to next auth method supported by this client, would you please try ?

[2021-12-13 08:28] KlausSchaefersAtWork commented on #118
Hi, I cannot easily move to 4.0, I am stuck with 3.9. But thanks for letting me know. I will try to upgrade to Vertx 4.x in the next weeks.

[2021-12-14 07:25] #175 closed

[2021-12-20 12:44] pmlopes opened #181 "CVE-2021-45105"
Fixed by: https://github.com/vert-x3/vertx-mail-client/commit/51355c59f0a9356bbe38dadcc8630d79870d0351

[2021-12-20 12:44] #181 closed

[2021-12-20 12:45] pmlopes opened #182 "CVE-2021-45105"
Fixed by: https://github.com/vert-x3/vertx-mail-client/commit/daccaefd497f758cff6358d99b28d44ab38eb458

[2021-12-20 12:45] #182 closed

[2021-12-23 23:22] yazalulloa commented on #170
How do I set the dependency?

I tried this:

<dependency>
            <groupId>gaol</groupId>
            <artifactId>vertx-mail-client</artifactId>
            <version>async_mailclient_close</version>
        </dependency>

But did not work

[2022-08-02 05:45] mnylen opened #185 "Vert.x v4 migration: dropping reply arriving after we stopped processing the buffer"
### Version

Which version(s) did you encounter this bug: 4.3.2

### Context

Ever since upgrading from Vert.x v3 to v4, the mail client has started logging these errors:

[code]

Using AWS SES SMTP endpoint. The client configuration is as follows:

[code]

Tried setting the keep alive timeout in `MailConfig` to `0` to disable the timeout (it seems this was the behavior in v3), but this did not he

[2022-09-14 17:36] cescoffier opened #186 "Failure not reported in case of an auth chain"
### Version

4.3.3

### Context

I have the following configuration (using Quarkus, but it is a direct mapping to bare Vert.x):
[code]

This configuration does not work on purpose (foo/bar are not my real credentials).

When sending a mail with this configuration, the error is not reported, and the system is stuck.
The failure is logged, but we are stuck.

### Do you have a reproducer?

See above.

[2022-09-16 13:05] #186 closed

[2022-09-19 09:02] gaol commented on #185
These cases are inevitable, like when connections are idle for a while, the server will close the connections no matter what timeout is set in client side.

It was not showing in `3.x`, because they were logged in `debug` level, `4.x` is using `error` level, I think it is a typo when I did the some changes in SMTPConnection.

I would like to propose to change the log level back to debug to avoid t

[2022-09-21 12:16] mnylen commented on #185
Hey! Thanks for the reply. I think using the debug level is a good chance, as it doesn't really seem to cause any issues when it happens.

In the meanwhile, we found out that AWS SES SMTP endpoint looks to have a server-side idle timeout of 10 seconds. Took a lot of effort to figure that out and setting the keep alive timeout to 8 seconds removed most of these from our logs. :)

[2022-09-26 09:20] #185 closed

[2022-11-03 11:59] NeoCN opened #195 "limit messages count per SMTP connection can send"
#### Describe the feature

Support control the messages count per SMTP connection can send.  Close the SMTP connection when messages count limit reached.

#### Use cases

From [SendGrid SMTP Rate limits](https://docs.sendgrid.com/for-developers/sending-email/integrating-with-the-smtp-api#rate-limits)

[2022-11-07 04:49] gaol commented on #195
I think the `maxPoolSize`(defaults to `10`) can be used for the concurrent connections limitation, although you won't get much connections using the shared MailClient.

I will work on the messages count per connection limitation, that should be easy to implement, just wondering how it can be tested.

[2022-11-07 08:11] NeoCN opened #196 "Thread blocked VertxException found after idle for a while"
### Questions
Got VertxException with message `Thread blocked` after the client idle for a while.

[code]

### Version

4.3.4

### Do you have a reproducer?

Use vertx-mail-client in a Quarkus app, after sending some emails, and idle for a while, can see the VertxException logs.

Quarkus Version: 2.7.6

### Extra

#### Dockerfile FROM
`registry.access.redhat.com/ubi8-minimal`

#### `uname -a`
Linu

[2022-11-14 14:34] gaol commented on #196
What do you mean by `after the client idle for a while` ? If any eventloop thread in Vertx blocks for over 2 seconds(by default), there will be warnings about it, because it violets [the rule of don't block](https://vertx.io/docs/vertx-core/java/#_dont_block_me).

[2022-11-15 06:53] NeoCN commented on #196
@gaol It means no email sending operations for a while. I will close this ticket first and will come back when I have more details. Thanks.

[2022-11-15 06:53] #196 closed

[2022-11-21 09:20] NeoCN opened #198 "email encoder didn't follow the email message 998 characters line length limit"
### Context

When sending emails encoded with `Content-Transfer-Encoding: 7bit `, if the line length exceed the [Line Length Limits](https://datatracker.ietf.org/doc/html/rfc5322#section-2.1.1), the email format will be corrupted, e.g. the URL in the HTML email will be corrupted.

There are two limits that this standard places on the number of characters in a line. Each line of characters MUST be

[2022-11-29 03:06] gaol commented on #198
@NeoCN I opened a PR with the approach like what Jakartaee Mail does, to use `quoted-printable` when the line length exceeds 1000 characters.

Current design in the mail client does not allow specifying how the content is encoded, it needs refactoring of the mail encoding part. If there is a strong needs on that, please create a new issue for it, and any contributions are welcome too. :)